.video-container {
    background: black;
    display: inline-block;
    line-height: 0;
    width: 100%    !important;
    height: auto   !important;
}

canvas{
    margin: 0 auto;
    width: 100%;
}

#logs-header {
    margin-top: 20px;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.sticky {
    position: sticky;
    top: 0;
}

video {
    position: sticky;
    width: 100%;
}

pre .error {
    color: red;
}

pre .warn {
    color: goldenrod;
}

#logs {
    height: 300px;
    overflow: auto;
}
